@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html{
    box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(Norse-Bold\ \(2\).otf);
  }

body{
    background-color: rgb(255, 253, 252);
    font-family: myFirstFont;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 400px 1fr;
    overflow: hidden;
    width: 100%;
}

.image{
    position: relative;
    color: white;
}

.image .overlay{
    padding: .4rem 0;
    width: 100%;
    justify-content: center;
    display: flex;
    top: 9rem;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.479);
}
.image .overlay img{
    width: 90px;
   
}

.image >img{
    width: 100%;
    height: 100vh;
}

.header{
    width: 500px;
    font-size: 1.2rem;
    margin-left: 5rem;
    font-family: 'Kumbh Sans', sans-serif;
}
.header p{
    display: grid;
    gap: 3rem;
    
}
.forms{
    height: 90vh;
    display: grid;
    align-items: center;
}

.form{
    box-shadow:0 1px 30px rgba(97, 95, 95, 0.123);
    background-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 3rem 26rem 3rem 5rem;
    font-size: .8rem;
}
span p{
    font-size: .7rem;
    opacity:0.5;
}
.form input{
    border: 1px solid #ddd;
    outline: none;
    padding: .2rem;
    position: relative;
    border-radius: 3px;
}

input[type="submit"]{
    cursor: pointer;
    margin-top: 3rem;
    padding: .7rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    color: white;
    background-color: rgb(67, 109, 67);
}

.form span{
    position: relative;
    display: grid;
    place-items: start;
}
label{
    width: 170px;
    padding: .4rem;
    background-color: transparent;
    position: absolute;
    z-index: 3;
    margin: .1rem;
    opacity: .6;
    font-size: .7rem;
    transition: all .4s ease;
}



input:focus{
  border: 1px solid rgb(48, 126, 190);
}

.footer{
    margin-left: 5rem;
}
.lbl{
    top: -2rem;
    opacity: 1;
}
span p.valid{
    opacity: 1;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgb(107, 180, 107);
}
span p.invalid{
    opacity: 1;
    color: red;
    display: flex;
    align-items: center;
    gap: .5rem;
}

span p.valid::before{
    content: '\f058';
    color: rgb(122, 170, 122);
    font-family: fontawesome;
}
span p.invalid::before{
    content: '\f058';
    color: rgb(255, 13, 93);
    font-family: fontawesome;
}
    
.footer{
    display: grid;
    place-items: start;
}

.copy{
    place-self: center;
}
input.error{
    border: 1px solid red;
}

@media(max-width:700px){
    body{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .image{
        flex: 1;
        position: relative;
        color: white;
    }
    
    .image .overlay{
        padding: .4rem 0;
        width: 100%;
        justify-content: center;
        display: flex;
        top: 9rem;
        align-items: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.479);
    }
    .image .overlay img{
        width: 90px;
       
    }
    
    .image >img{
        width: 100%;
        height: 700px;
    }

    .forms{
        padding: 0;
        height: 50vh;
        display: grid;
        width: 400px;
        align-items: center;
    }

    .form{
        grid-template-columns: 1fr;
    }

    .header{
        width: max(300px, 45%);
    }
    .copy{
        place-self: start;
    }
    span p{
        font-size: .9rem;
    }
    .form input{
        border: 1px solid #ddd;
        outline: none;
        padding: .3rem .6rem;
        position: relative;
        border-radius: 5px;
    }

    
}